.game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__pokemon-image {
    width: 500px;
  }

  &__timer {
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 10px;

    &--alert {
      color: red;
    }
  }

  .form {
    display: flex;

    &__name-control {
      padding: 10px;
      margin: 10px;
      width: 300px;
    }
  }
}
