.game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  .game-screen__pokemon-image {
    width: 500px;
  }
  form {
    display: flex;
    input {
      padding: 10px;
      margin: 10px;
      width: 300px;
    }
  }
}
